<a href="https://colab.research.google.com/github/jparraj/Demo3/blob/master/intro_pyt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%%bash
for x in {1..5}
do
    touch OuT${x}.csv
done

In [9]:
x = !ls -1 *csv
for X in x:
  print(X.lower())
#[X.lower() for X in x]

out1.csv
out2.csv
out3.csv
out4.csv
out5.csv

In [10]:
result = []
for e in x:
  result.append(e.upper())
result

['OUT1.CSV', 'OUT2.CSV', 'OUT3.CSV', 'OUT4.CSV', 'OUT5.CSV']

In [19]:
[e ** 2 for e in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
for i in range(5,10):
  print(i, end = ', ')

5, 6, 7, 8, 9,

In [24]:
a = ["a","b","c","d","e"]
for i,b in enumerate(a):
  print(i,b)

0 a
1 b
2 c
3 d
4 e

In [28]:
def eleva2(lista):
  return [l ** 2 for l in lista]

eleva2([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [39]:
def may5_arc(x):
  resultado = []
  for i in x:
    if i > 5:
      resultado.append(i)
  return resultado

may5_arc(range(10))

[6, 7, 8, 9]

In [40]:
def may5(lista):
  return [i for i in lista if i > 5]

may5(range(10))

[6, 7, 8, 9]

In [45]:
y = [[1,2,3],
     [4,5,6],
     [7,8,9],
     [10,11,12]]

def mat_lis(x):
  resultado = []
  for i in x:
    for j in i:
      resultado.append(j)
  return resultado

mat_lis(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [48]:
def mat_lis2(x):
  return [j for i in x for j in i if j > 5]

mat_lis2(y)

[6, 7, 8, 9, 10, 11, 12]